@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  min-height: 100%;
  display: flex;
}

body {
  margin: 0;
  flex-grow: 1;
}

@layer utilities {
  .wiggle {
    animation: wiggle 0.2s ease-in-out;
  }

  @keyframes wiggle {
    10% {
      rotate: 2deg;
    }

    25% {
      rotate: -2deg;
    }
  }
}
